##
# PLEASE ADD YOUR OWN ENVIRONMENT VARIABLES HERE
##
# Database
POSTGRES_DB=bloom_dev
POSTGRES_USER=bloom_user
POSTGRES_PASSWORD=changeme

# API Connection String  
ConnectionStrings__DefaultConnection=Host=postgres;Database=bloom_dev;Username=bloom_user;Password=changeme

# API
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5000

# JWT
Jwt__Key=32_character_secret_key_here
Jwt__Issuer=bloom.workout
Jwt__Audience=users
