@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --green: #003E1F;
    --green-faded: #1C4B33;
    --orange: #E9762B;
    --green-dark: #01110A;
    --grey-light: #E3E3E3;
    --grey-darker: #CCCCCC;
    --text-grey: #333333;
    --text-grey-lighter: #595959;
    --red: #7B1616;
}

html, body{
    font-family: "Archivo", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

a {
    text-decoration: none;
    color: inherit;
}


.button-component {
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 0.375rem;
}

.button-component.white{
    color: #000;
    background: white;
    box-shadow: inset 0 0 0 0.1rem black;
}

.button-component.green{
    color: #fff;
    background: var(--green);
}

.general-main-section{
    margin: 0 auto;
    width: 65%;
}