/*         HOME HEADER         */
.button-component {
    font-size: 0.9rem;
}

#home-navbar {
    position: absolute;
    top: 2rem;
    right: 0;
    z-index: 20;
    background: white;
    padding: 1rem 1.25rem;
    border-radius: 0.5rem 0 0 0.5rem;

    display: flex;
    align-items: center;
    gap: 2rem;

    width: fit-content;
}

#home-navbar > img {
    width: 6.25rem;
    height: auto;
}

#home-navbar-links {
    display: flex;
    gap: 1rem;
    text-transform: uppercase;
    font-weight: 800;
}

#home-navbar-buttons {
    display: flex;
    gap: 0.5rem;
}

/*         HOME HERO         */
#home-header {
    height: 95vh;
    width: 100vw;
    background: url('/media/home_header.png') no-repeat center/cover;
    padding: 18.75rem 25rem;
    position: relative;
}

#home-header::after {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    filter: contrast(90%);
    z-index: 1;
}

#home-header h1 {
    position: relative;
    z-index: 2;
    color: white;
    width: min-content;
    font-size: 6rem;
    font-weight: 100;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.52));
}

#discover {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    gap: 2rem;

    padding: 2rem 3rem 2rem 2rem;
    border-radius: 1rem 0 0 0;
    background: #fff;
    font-size: 3.5rem;
    font-weight: 500;
}
#discover img {
    width: 3rem;
    height: auto;
}


/*         OUR MISSION         */
h2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1rem;
}


#our-mission{
    margin: 5rem auto 8rem auto;
}

#our-mission p {
    margin-top: 2rem;
    font-size: 1.25rem;
    width: 70%;
    line-height: 125%;
    color: var(--text-grey);
}

/*         EXERCISE TYPE         */
#exercise-type-image-section {
    margin: 5rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 0 0.5rem;
    height: 95vh;
}

#exercise-type-image-section div {
    position: relative;

    width: 100%;
    border-radius: 0.75rem;
    display: flex;
    align-items: end;
    padding: 2rem;
}

#exercise-type-image-section div::after {
    position: absolute;
    content: '';
    inset: 0;
    background: linear-gradient(
            to right,
             rgba(0, 0, 0, 0)65%,
            rgba(13, 13, 13, 0.45) 100%
    );
    border-radius: 0.75rem;
    z-index: 1;
}

#exercise-type-image-section p {
    position: relative;
    z-index: 2;
    color: white;
    text-align: left;
    font-size: 6rem;
    font-weight: 150;
    text-transform: uppercase;
    text-shadow: 0 0 2rem rgba(0, 0, 0, 0.7);

    width: 100%;
    height: fit-content;
    transform-origin: bottom right;
    transform: rotate(-90deg) translateX(100%);
}

#cardio-image {
    background: url('/media/Cardio.png') no-repeat center/cover;
}

#plyo-image {
    background: url('/media/Plyo.png') no-repeat center/cover;
}

#strength-image {
    background: url('/media/Strength.png') no-repeat center/cover;
}


/*         FEATURES         */













/*         MEDIA QUERIES         */
@media(max-width: 1500px) {
    #exercise-type-image-section {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    #cardio-image {
        grid-row: span 2;
        grid-column: span 2;
    }

    #strength-image p,
    #plyo-image p {
        transform: rotate(0) translateX(0);
        font-size: 3rem;
    }

    #strength-image::after,
    #plyo-image::after {
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0)65%,
                rgba(13, 13, 13, 0.45) 100%
        );
    }
}


@media(max-width: 1300px) {
    #home-navbar{
        position: relative;
        inset: 0;
        width: 100%;
        justify-content: space-between;
    }

    #home-header {
        padding: 18.75rem 10rem;
    }

    #our-mission p {
        width: 90%;
        font-size: 1.1rem;
    }

    h2 {
        font-size: 3rem;
    }
}


@media(max-width: 1100px) {
    #exercise-type-image-section {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

    #exercise-type-image-section div {
        height: 35vh;
    }

    #cardio-image {
        grid-row: span 1;
        grid-column: span 1;
    }

    #exercise-type-image-section p {
        transform: rotate(0) translateX(0);
        font-size: 4rem;
    }

    #exercise-type-image-section div::after {
        background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0)65%,
                rgba(13, 13, 13, 0.45) 100%
        );
    }


}

@media(max-width: 650px) {
    #home-header {
        padding: 15rem 3rem;
    }
    #home-header h1 {
        font-size: 3.5rem;
    }

    #home-navbar-links {
        display: none;
    }

    #exercise-type-image-section p{
        font-weight: 250;
        font-size: 2rem;
        transform: rotate(-90deg) translateX(100%);

    }

    #discover {
        font-size: 2rem;
        padding: 1rem 1rem;
        gap: 1rem;
        border-radius: 0.5rem 0 0 0;
    }
    #discover img {
        width: 1.75rem;
    }
}
