.login-page {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 4rem);
}

.login-page h1 {
    font-size: 2.5rem;
    font-weight: 400;
}

.login-page > section {
    height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr;
}

.logo {
    width: 7.5rem;
    cursor: pointer;
}

.showcase-image {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background: url("/media/showcase-image.png") center center no-repeat;
    background-size: cover;
}

.login-page .loginsignup-form > p {
    color: var(--ink-muted);
    font-size: .9rem;
    line-height: 125%;
    margin: .75rem 0 1.5rem;
}

.login-page .loginsignup-form {
    padding-right: 3rem;
    width: 55%;
    align-self: center;
    justify-self: center;
    padding-bottom: 5rem;
}

.login-page .loginsignup-form > div {
    width: 100%;
}

.login-page form input {
    margin-top: 0.75rem;
    border: var(--border) 0.1rem solid;
    border-radius: var(--radius-md);
    padding: 0.75rem;
    width: 100%;
    font-weight: 300;
    font-size: 0.8rem;
    transition: border-color var(--transition);
}

.login-page form input:focus {
    border-color: var(--primary-light);
    outline: none;
}

.login-page form button {
    padding: .9rem;
    color: var(--surface-lighter);
    background-color: var(--primary);
    border: none;
    border-radius: var(--radius-md);
    grid-column: 1/-1;
    transition: background-color var(--transition);
}

.login-page form button:hover {
    cursor: pointer;
    background-color: var(--primary-muted);
}

#login-checks {
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    color: var(--ink-muted);
    font-size: 0.8rem;
}

#login-checks div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.2rem;
}

#login-checks input {
    width: fit-content;
    margin: 0.1rem;
    accent-color: var(--primary);
}

#login-action {
    margin-top: 1.5rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: .8rem;
    color: var(--ink);
}

#login-action div {
    display: flex;
    gap: 0.5rem;
}

#login-action a {
    color: var(--primary);
    font-weight: 600;
}

.error-message {
    color: var(--danger);
    font-size: 0.75rem;
    margin-top: 0.5rem;
    margin-left: 0.1rem;
    font-weight: 550;
}

.login-page #onboarding form div:has(input) {
    margin-top: 1rem;
}

.login-page #onboarding form div label {
    font-size: .85rem;
    font-weight: 400;
    color: var(--ink);
}

.login-page #onboarding form div input {
    margin-top: 0.45rem;
}

.login-page #onboarding form div:has(div) {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    margin-top: 0;
}

@media (max-width: 1024px) {
    .login-page {
        grid-template-columns: 1fr;
    }

    .login-page > .showcase-image {
        display: none;
    }
}

@media (max-width: 768px) {
    .login-page {
        padding: 2rem;
    }

    #login-action {
        width: 100%;
    }

    .login-page .loginsignup-form {
        padding-left: 1rem;
        width: 90%;
        align-self: center;
        justify-self: left;
        padding-right: 0;
    }

    .login-page #onboarding form div:has(div) {
        display: block;
    }

    .login-page #onboarding form div label {
        font-size: .8rem;
        font-weight: 400;
    }
}
