:root {
    /* Brand */
    --primary:         #003E1F;
    --primary-transparent: rgb(0 62 31 / 0.85);
    --primary-muted:   #1C4B33;
    --primary-light:   #2D8055;
    --primary-glow:    rgba(132, 224, 178, 0.50);
    --primary-faded:     rgba(148, 209, 179, 0.50);
    --accent:          #E9762B;
    --surface-dark:    #01110A;
    --dark-text: #00261a;

    /* Neutrals */
    --border: rgb(20 51 31 / 0.5);
    /*--border: rgb(10 51 31 / 0.75);*/
    /*--border: oklch(0.89 0.012 90);*/
    --grey-light: oklch(0.89 0.012 90);
;
    --grey:            #CCCCCC;

    --surface-light: #fcfaf4;
    --surface-lighter: #fffefb;

    /* Text */
    --ink:             #333333;
    --ink-muted:       #595959;

    /* Semantic */
    --danger:          #7B1616;

    /* Sidebar */
    --sidebar-width:   13rem;
    --widget-border-radius: 0.5rem;

    --serif: 'Newsreader', 'Source Serif Pro', Georgia, serif;
    --sans: "Archivo", Arial, Helvetica, sans-serif;

}
